
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Pour espacer également les cartes horizontalement */
  margin: 50px;
}

.card:hover{
  transform: scale(1.05);
}

.card {
  width: calc(20% - 10px); /* Calcule la largeur pour qu'il y ait cinq cartes par ligne avec un espace de 5px entre chacune */
  height: 150px;
  margin-bottom: 10px; /* Espace entre les lignes de cartes */
  perspective: 1000px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgb(20, 14, 104);
}
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: #3c5965; /* Couleur de fond de la face avant */
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que l'image couvre toute la surface de la carte */
}
